.Index {
    width: 100%;
    height: 100svh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.btn:not(.view-btn):not(.submmitAdd):not(.checkoutBtn):not(.placeOrder):not(.offerBtn),
.btn:hover:not(.view-btn):not(.submmitAdd):not(.checkoutBtn):not(.placeOrder):not(.offerBtn) {
    color: #fff;
    border-radius: 7px;
    text-decoration: none;
}

.btn-main {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #26266d;

    & i {
        margin-left: 5px;
    }

    &:hover {
        background-color: #1b1b4e;
    }
}

.btn-logout {
    padding: 7px 14px;
    margin-top: 20px;
    background-color: #9a1818;

    & i {
        margin-left: 5px;
    }

    &:hover {
        background-color: #6d0c0c;
    }
}